<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Data Science and Machine learning</h1>
            <span>Integrify.io</span>
            <span><address>Helsinki, Finland</address><time>2020 to 2021</time></span>
        </header>
        <p>
            <em>Specialisation: ???</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc in Financial Management</h1>
            <span>Masaryk University</span>
            <span><address>Brno, Czech Republic</address><time>2004 to 2010</time></span>
        </header>
        <p>
            <em>Thesis: Audit of property for business</em>
        </p>
    </article>
</section>
