<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Co-Founder and CEO</h1>
            <span><address>AccountTech Oy, Helsinki, Finland</address><time>Since 2016</time></span>
        </header>
        <p>We provide two segments of business – community management for Health Innovation Village
          at GE where we operate the premises and support the collaboration between GE Healthcare
          Finland and startu-ps located at the premises (collaboration ended in 09/2020), and
          we handle accounting, taxes and other finance related matters for small companies.</p>
    </article>
    <article>
        <header>
            <h1>Founder and CEO</h1>
            <span><address>Paalava Oy,Helsinki, Finland</address><time>Since 2017</time></span>
        </header>
        <p>I am cooperating with Finnish wine importers to match their demands with potential
          Czech wine producers. I am also organising wine tastings for groups. I am the single
          owner of the company responsible for all of its operations and it has functioned as
          a side project to my full-time job/studies.</p>
    </article>
    <article>
        <header>
            <h1>Community manager</h1>
            <span><address>Health Innovation Village, Helsinki, Finland</address><time>2018 to 2020</time></span>
        </header>
        <p>Day-to-day interaction with the community members</p>
        <p>Co-organising Slush side-event, incl. 25 HealthTech startups and over 100 investors</p>
        <p>Rental agreements management</p>
        <p>Hosting visitors</p>
        <p>Event organising</p>
        <p>Operational tasks</p>
    </article>
    <article>
        <header>
            <h1>Accountant</h1>
            <span><address>FinCount Oy, Helsinki, Finland</address><time>2014 to 2018</time></span>
        </header>
        <p>Accounting, reporting, taxes, payroll and finance consulting for small business.</p>
        <p>Industries focus: Real Estate, Personal holding companies, small entrepreneurs,
          concert venue operator.</p>
    </article>
    <article>
        <header>
            <h1>Financial Analyst</h1>
            <span><address>GE Healthcare Finland Oy, Helsinki, Finland</address><time>2014 to 2014</time></span>
        </header>
        <p>Revenue recognition process for Finland organisation’ and several other EMEA countries’ sales.
          Organizing annual physical inventory count; Obsolescence, Standard and extended reserves calculation
          and booking; Analysis of domestic sales to support local sales team.</p>
    </article>
    <article>
        <header>
            <h1>Accountant</h1>
            <span><address>GE Healthcare Finland Oy, Helsinki, Finland</address><time>2012 to 2014</time></span>
        </header>
        <p>Reporting of inventory balances including analysis per regions, business segments and other parameters
          to improve the balance sheet overview of the local Controller & Regional controllership; Organizing
          annual physical inventory count; Obsolescence, Standard and extended reserves calculation and booking;
          Analysis of domestic sales to support local sales team; Analysis of inventory balances and transactions
          to support both HQ and Operational teams in their estimates and planning.</p>
    </article>
    <article>
        <header>
            <h1>AR Assistant</h1>
            <span><address>GE Healthcare Finland Oy, Helsinki, Finland</address><time>2011 to 2012</time></span>
        </header>
        <p>Cash allocation; AR accounts reconciliation; Manual invoices issuing; Customers’ credit check and
          financial statements analysis; Contract management support</p>
    </article>
    <article>
        <header>
            <h1>Assistant Auditor</h1>
            <span><address>Ernst & Young, Brno, Czech Republic</address><time>2008 to 2010</time></span>
        </header>
        <p> Describing processes in companies; Auditing various sections of
            financial statements; Performing audit of physical inventory count;
            Interviewing clients’ personnel
        </p>
    </article>
</section>
